@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
  }
  
  
  html, body , #root{
    height: 100%;
    background: #E5E6F0;
    -webkit-font-smoothing: antialiased;
  }
  

 body, input, button {
     font-family: 'Roboto' ,sans-serif;
 }

 